@model IEnumerable<MvcExamenAWS2.Models.Evento>

@{
    string UrlBucket = keysModel.BucketUrl;
}

@{
    ViewData["Title"] = "EventosByCategoria";
}

<h1>Eventos Por Categoria</h1>

<form method="post">
    <label>Id Categoría</label>
    <input type="text" name="idcategoria" class="form-control" />
    <br />
    <button class="btn btn-primary">
        Buscar
    </button>
</form>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdEvento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Artista)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdCategoria)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagen)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdEvento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Artista)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCategoria)
                    </td>
                    <td>
                        <img src="@UrlBucket@item.Imagen" class="card-img-top" alt="..." style="width:70px; height: 80px" />>

                    </td>
                </tr>
            }
        </tbody>
    </table>

}
